body{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

a{
    text-decoration: none;
}


.NavBar{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.searchNavBar{
    background-color: #fef8a0;
}

.weather{
    margin-left: 20px;
}

.Buttons{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-right: 50px;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: bisque;
    margin-left: 20px;
    padding: 10px;
    width: 100px;
    border: 1px black solid;
    border-radius: 10px;
}

.Content{
    height: 80%;
    display: grid;
    padding: 10px;
    grid-column-gap: 50px;

    grid-template-columns: 60% 40%;
}

.cardsSmall{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    justify-content: space-evenly;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    border: 1px solid black;
}

.cardsBig{
    background-color: cadetblue;
    border: 1px solid black;
    width: 80%;
}

.cardsBig h3{
    display: flex;
    justify-content: center;
}

.cardsBig p{
    margin: 20px;
}
.location-picker{
    height: 30px;
    width: 150px;
}
.date-picker{
    margin-left: 30px;
}
.form1{
    margin-top: 50px;
}